<form action= "/phonebook" method = "post">
<input type= "text" name = "first_name"> first name
<input type= "text" name = "last_name"> last name
<input type= "text" name = "street_address"> street adress
<input type= "text" name = "city"> city
<input type= "text" name = "state"> state
<input type= "text" name = "zip"> zip
<input type= "text" name = "cell_phone"> cell phone
<input type= "text" name = "home_phone"> home phone
<input type= "text" name = "work_phone"> work phone
<input type= "submit" value = "Submit">
</form>
<table>
	<thead>
		<tr>
			<th>first name</th>
			<th>last name</th>
			<th>street address</th>
			<th>city</th>
			<th>state</th>
			<th>zip</th>
			<th>cell phone</th>
			<th>home phone</th>
			<th>work phone</th>
		</tr>
	</thead>
	<tbody>
			<%phonebook.each do |contacts| %>
			<%=contacts%>
			<%end%>
